<div id="main">
    <div class="list">
        <div class="categories">
            <div *ngFor="let category of categories"
                class="menu"
                (click)="onCategoryClick(category.id)">
                {{ category.title}}
            </div>
        </div>
    </div>
    <div class="items-grid">
        <div *ngFor="let m of menu"
            class="item-card">
            <div class="item-image-wrapper">
                <img class="item-image"
                    src="{{m.image}}"
                    alt="{{m.name}}">
            </div>
            <div class="item-details">
                <div class="item-name">{{m.name}}</div>
                <div class="item-price">${{m.price}}</div>
                <button class="watch-button"
                    (click)="onClickNewPage(m.id)">
                    Watch <span class="heart-icon">♥</span>
                </button>
            </div>
        </div>
    </div>
</div>

