<div class="items"
    *ngFor="let result of searchResults">
    <img class="image"
        src="{{result.image}}">
    <div class="container">
        <div class="name">{{result.name}}</div>
        <div class="button"
            (click)="onClickNewPage(result.id)">Watch</div>
    </div>
</div>

<div *ngIf="!searchResults.length"
    class="not-found-wrapper">
    <div class="not-found-container">
        <div class="speech-bubble-left">
            <h1 class="not-found-text">Nothing found!<br>Please try again.</h1>
        </div>
        <img class="anime-image"
            src="/assets/girl2.png">
    </div>
</div>