
<div class="items"
    *ngFor="let result of searchResults">
    <img class="image"
        src="{{result.image}}">
    <div class="container">
        <div class="name">{{result.name}}</div>
        <div class="button"
            (click)="onClickNewPage(result.id)">Watch</div>
    </div>
</div>

<div *ngIf="!searchResults.length">
    <div class="img">
        <h1 class="not-found-text">Nothing found! Please try again.</h1>
        <img class="anime-image"
            src="/assets/anime.png">
    </div>