@keyframes cursiveEntry {
    0% {
        opacity: 0;
        transform: translateY(20px);
        letter-spacing: -5px;
    }

    50% {
        letter-spacing: 2px;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        letter-spacing: normal;
    }
}

.title {
    color: #825656;
    font-family: 'Lucida Handwriting';
    font-size: 3rem;
    color: white;
    justify-content: center;
    text-align: center;
    animation: cursiveEntry 1.5s ease-out forwards;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 45px;
    cursor: pointer;
}