body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFD6D6;
    height: 100%;
    font-family: cursive;
}

app-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 1300px;
}

@keyframes cursiveEntry {
    0% {
        opacity: 0;
        transform: translateY(20px);
        letter-spacing: -5px;
    }

    50% {
        letter-spacing: 2px;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        letter-spacing: normal;
    }
}

.title {
    margin-top: 40px;
    color: #825656;
    font-family: 'Lucida Handwriting';
    font-size: 3rem;
    color: white;
    justify-content: center;
    text-align: center;
    animation: cursiveEntry 1.5s ease-out forwards;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.toast-success {
    background-color: #FFB7B2 !important;
}

main {
    flex: 1;
}
