/* You can add global styles to this file, and also import other style files */
body {
    display: flex;
    flex-direction: column;
    background: #FFD6D6;
    height: 100%;
    font-family: cursive;
}

app-root {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 70%;
    margin: 0 auto;
}